table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
}
th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
.button{
    text-align: center;
    border:0; 
    background-color:#FFC700; 
    color:white;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1rem;
    display: flex;
    border-radius: 0.5rem;
}
#view-more{
    margin-left: 23rem;
}
#close-table{
    background-color: red;
    margin-left: 1rem;
}
.button-container {
    display: flex;
    margin: 0 5px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr)); /* Mengatur lebar kolom */
    gap: 20px; /* Jarak antara item-grid */
}

.table-container {
    max-height: 400px; /* Atur ketinggian maksimum */
    overflow: auto; /* Tambahkan scrolling jika perlu */
}

.data-table {
    width: 100%; /* Agar tabel mengisi lebar container */
    border-collapse: collapse; /* Gabungkan garis-garis sel */
}

.table-th{
    border: 1px solid #000;
}

.table-tr{
    border: 1px solid #000; 
    background-color:#000; 
    color:#fff;
}

.table-td{
    border: 1px solid #000;
}


/* search */
.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 50%;
}

.search-input:focus {
    outline: none;
    border-color: #007bff; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.sorting-up:after {
    content: "\25B2"; /* Up arrow */
}
.sorting-down:after {
    content: "\25BC"; /* Down arrow */
}